QMainWindow{
    background-color: #000000;
}

QTextEdit{
    background-color: #000000;
    color: #EEEEEE;
    border: none;
    font-size: 14px;
}

QPushButton {
    border radius: 0px;
    background-color: #000000;
    color: #EEEEEE
}
QPushButton:hover{
    background: #111111;
}

QToolButton {
    background-color: #000000;
    border radius: 0px;
    color: #EEEEEE
}
QToolButton:hover {
    background-color: #111111;
}